
<title> Fetch! Dog Adoption</title>

    <!-- Form -->
    <div class="container">

      <div class="row">

          <div class="col-xl-4 col-lg-4"></div>

          <div class="col-xl-4 col-lg-4 text-center">

            <form method = "POST" action='/' enctype = "multipart/form-data">
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Fetch!</button>
              </span>
              <input type = "file" name = "file" placeholder="Upload dog!">
            </div><!-- /input-group -->
          </form>
        </div>

     <p id = "instructions" class="text-center"> <h3>Upload dog!</h3></p>
     <img src="https://random.dog/b22eace4-3f04-4228-a078-9d1c10042eaf.jpg" width="228" height="228">
    </div>
</body>

<script type="text/javascript" src="/static/js/index.js"></script>


